.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  min-width: 54px;
  max-height: var(--input-height);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-blue-dark);
  color: var(--color-gray-100);
  font-size: 14px;
  font-weight: 800;
  text-align: center;
}

@media (hover: hover) {
  .button:hover {
    scale: 1.03;
    background-color: var(--color-blue);
  }
}
@media (hover: none) {
  .button:active {
    scale: 1.03;
    background-color: var(--color-blue);
  }
}
