.todo__wrapper {
  max-width: 736px;
  width: 100%;
  position: relative;
}

.todo__stats {
  padding-top: 90px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.todo__counter-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 800;
}

@media (max-width: 360px) {
  .todo__counter-text {
    gap: 4px;
    font-size: 15px;
  }
}

.todo__counter-text--blue {
  color: var(--color-blue);
}

.todo__counter-text--purple {
  color: var(--color-purple);
}

.todo__counter {
  padding: 2px 8px;
  min-width: 25px;
  border-radius: 999px;
  background-color: var(--color-gray-400);
  color: var(--color-gray-100);
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top: var(--border);
  border-radius: var(--border-radius);
}

.todo__empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  color: var(--color-gray-300);
  text-align: center;
}

.todo__empty-message span {
  padding-top: 16px;
  font-weight: 800;
}

.todo__list,
.todo__empty-message {
  &:empty {
    display: none;
  }
}
